.horizontal-flipbook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.start {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

.page1 {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 150px;
}

.page2 {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

.page3 {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

.page4 {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

.end {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

/* CSS for Horizontal Flipbook with Navigation Buttons */
.horizontal-flipbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Add position relative to position the navigation buttons */
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 21px;
    z-index: 2; /* Ensure navigation buttons are above the flipbook */
  }
  
  .navigation button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 90px;
    cursor: pointer;
  }
  
  .navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Add any additional styles for your pages */
  .page {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
  }
  
  
  