html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.health-map {
  align-items: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 30px;
  height: 590px;
  background-position: center;
}

.header {   
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 30px;
}


.profile {
  position: absolute;
  top: 25px; /* Adjust the top value to position it vertically as desired */
  right: 25px; /* Adjust the right value to position it horizontally as desired */
  height: 40px;
  width: 100px;
  font-size: 20px;
  background-color: #5a9895; /* Change to your desired background color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 15px;
}

.grid-container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
  
.grid-row1 {
    display: flex;
    justify-content: center;
    text-align: center;
  } 

  .grid-row2 {
    display: flex;
    justify-content: center;
    text-align: center;
  } 
  
  .grid-item {
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    height: 15vh;
    width: 20vh;
    background-color: #5a9895;    /* Change to your desired background color */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 20px;
  }
  
  .grid-item1 {
    background-image: url('/images/1.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item2 {
    background-image: url('/images/2.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item3 {
    background-image: url('/images/3.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item4 {
    background-image: url('/images/4.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item5 {
    background-image: url('/images/5.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin-bottom: 700px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item6 {
    background-image: url('/images/6.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item7 {
    background-image: url('/images/7.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }

  .grid-item8 {
    background-image: url('/images/8.png');
    background-size: cover; /* Scale the image to cover the button */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 15vw;
    max-height: 15%;
    width: 200px;
    height: 200px; /* Set the height to control the button size */
    background-color: transparent; /* Change to your desired background color */
    border: none;
    border-color: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center;
  }
  
 .btn-title {
    font-size: 20px;
    font-style: bold;
    color: #282323; /* Title text color */
    margin-top: 178px; /* Adjust the space between image and title */
  }