.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fca69;
  }
  
  .background-image {
    background-image: url('/images/background-image.jpeg');
    height: 80%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
  }
  
  h1 {
    font-size: 36px;
    color: #281f1f;
    top : 5%;
  }
  
  .letsgoButn {
    height: 8vh;
    font-size: 20px;
    width: 20vh;
    background-color: #0095b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 90%; /* Center vertically */
    right: 41%;
    transform: translate(-50%, -50%);
    
  }
  
  .letsgoButn:hover {
    background-color: #dc6b82;
  }
  