.quiz-container {
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto; /* Center horizontally */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.result {
  padding: 20px;
}

.congratulations {
  color: #00a00a;
  font-size: 18px;
}

.keep-practicing {
  color: #ff3333;
  font-size: 18px;
}

.result button {
  background-color: #6c9ccf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.question-container {
  padding: 20px;
}

.question-number {
  font-size: 20px;
}

.question-text {
  font-size: 18px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.options button {
  color: white;
  background-color: #6c9ccf;
  margin-bottom: 8px;
}

.answer-button {
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

