/* Quiz.css */

.quiz {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #433d3d;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .question-container {
    background-color: rgb(39, 35, 35);
    padding: 20px;
    border-radius: 8px;
  }
  
  .options li {
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color:#5dcdab;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  