* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: #C2D9FF;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.form-modal__container {
  margin: 0 0.5rem;
}
.form-modal__wrapper {
  display: flex;
  justify-content: center;
  max-width: 900px;
  height: 500px;
  margin: 4rem auto;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 350px;
  height: inherit;
  border-radius: 10px 0 0 10px;
}

.sign-up > img {
  object-fit: cover;
  width: auto;
  height: auto;
}

.sign-up__container {
  background: #fff;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 70vh; /* Set the height to 70% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.sign-up__container > h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sign-up__form > label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.sign-up__form > input {
  margin-bottom: 1rem;
  padding: 0.6rem;
}

/* Adjusting the layout for first name and last name */
.name-inputs {
  display: flex;
  gap: 1rem; /* Space between first name and last name */
}

/* Style for individual form group */
.form-group {
  width: 100%; /* Each form group takes the full width */
}

/* Add styling for the username and password fields */
.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.form-group input {
  margin-bottom: 1rem;
  padding: 0.6rem;
}

/* Style for the "Let's Go" button */
.sign-up__form .btn-sign {
  width: 150px; /* Make the button as wide as its content */
  height: 50px;
  border-radius: 5px; 
  font-size: 1.2rem; /* Adjust font size */
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  padding: 12px 0; /* Adjust padding */
  margin: 0 auto; /* Center the button horizontally */
}

.sign-up__form .btn-sign:hover {
  background-color: #0056b3;
}

