body {
  background-image: url('/images/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
 
  
  /*Sign up Page*/
  .form-modal__container {
    background-image: url('/images/1.png');
    height: 80%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .form-modal__wrapper {
    display: flex;
    justify-content: center;
    max-width: 900px;
    height: 500px;
  }
  
  .sign-up {
    margin-top: 90px
  }

  .sign-up__container {
    margin: 0 auto; /* Center the form horizontally */
    background-size: contain;
    background: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
  }
  
  .sign-up__container > h2 {
   font-size: 3rem;
   margin-bottom: 2rem;
  }
  
  .sign-up__form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .sign-up__form > label {
    font-size: 1.2rem;
  }
  
  
  .sign-up__form > input {
    padding: 0.6rem;
  }
  
  .sign-up__form .btn-sign {
    padding: 12px 26px;
    width: fit-content;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid #242424;
    background-color: #242424;
    color: #fff;
    cursor: pointer;
  }
  
  .sign-up__form .btn-sign:hover {
    color: #242424;
    background-color: #fff;
  }
  
  .have-account {
    margin-bottom: 90px;
    font-size: 0.9rem;
    color: #5a5a5a;
  }
  
  .have-account span {
    text-decoration: underline;
    cursor: pointer;
  }

/* Adjusting the layout for first name and last name */
.name-inputs {
    display: flex;
    
  }
  
  /* Style for individual form group */
  .form-group {
    width: 100%; /* Each form group takes the full width */
  }
  
  /* Add styling for the username and password fields */
  .form-group label {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  .form-group input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 30%;
  }
  
  /* Style for the "Let's Go" button */
  .sign-up__form .btn-sign {
    width: 30%; /* Button takes full width */
    border-radius: 5px; /* Slight border radius */
    font-size: 1.2rem; /* Adjust font size */
    background-color: #6c9ccf;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    margin-top: 20px;
  }
  
  .sign-up__form .btn-sign:hover {
    background-color: #94b8ab;
    color: white;
  }
  
